
/* Edit/preview text */
body {
  font-size: 20px;
  line-height: 30px;
  color: #999;
  }
  h1, h2, h3, h4, h5, p, ul, ol {
    margin-bottom: 20px;
    }
    ul ul {
      margin-bottom: 0px;
      }
  ul {
    margin-left: 20px;
    }
    li {
      list-style: disc inside none;
      }

/* Layout */
html,
body {
  height: 100%;
  overflow: hidden;
  }
#write {
  position: relative;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 100%;
  overflow: none;
  }
  #write-inner {
    position: absolute;
    top: 0px;
    right: 40px;
    bottom: 40px;
    left: 0px;
    }
.panels {
  height: 100%;
  }
  .write-panel,
  .preview-panel {
    height: 100%;
    }

.preview-panel {
  overflow: auto;
  position: absolute;
  margin-left: 50%;
  padding: 0 0 0 10px;
  float: right;
  }

.write-panel {
  width: 50%;
  }
  .write {
    height: 100%;
    }
    .write textarea {
      color: #333;
      font-size: 20px;
      line-height: 30px;
      width: 100%;
      height: 100%;
      font-family: monospace;
      resize: none;
      }
