
/* Edit/preview text */
body {
  font-size: 20px;
  line-height: 30px;
  color: #999;
  }
  h1, h2, h3, h4, h5, p, ul, ol {
    margin-bottom: 20px;
    }
    ul ul {
      margin-bottom: 0px;
      }
  ul {
    margin-left: 20px;
    }
    li {
      list-style: disc inside none;
      }

/* Layout */
html,
body {
  height: 100%;
  }
.panels {
  height: 99%;
  }
  .write-panel,
  .preview-panel {
    height: 100%;
    }

.preview-panel {
  overflow: auto;
  float: right;
  width: 50%;
  }
  .preview {
    padding: 0 10px 0 5px;
    }

.write-panel {
  width: 50%;
  }
  .write {
    height: 100%;
    padding: 0 5px 0 10px;
    }
    .write textarea {
      color: #333;
      font-size: 20px;
      line-height: 30px;
      width: 100%;
      height: 100%;
      font-family: monospace;
      resize: none;
      }
